In [20]:
#list of high schools

high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [21]:
#add pandas dependency
import pandas as pd

In [22]:
#create a Panda series from a list
school_series = pd.Series(high_schools)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [25]:
#Skill drill: iterate through the school_series and print out each HS
for series in range(len(school_series)):
    print(school_series[series])

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School

In [26]:
#dictionary of HS
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [27]:
#convert the array, or list of dictionaries, to a DataFrame
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [38]:
#three seperate lists of information on HS
school_ids = [0,1,2,3,4]

school_names = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

types_of_school = ["District", "District", "Charter", "District","Charter"]

In [39]:
#initialize a new DataFrame
schools_df = pd.DataFrame()

In [40]:
#add list to a new DataFrame
schools_df["School ID"] = school_ids
schools_df["School Name"] = school_names
schools_df["School Type"] = types_of_school

#print the DataFrame
schools_df

   School ID            School Name School Type
0          0      Huang High School    District
1          1   Figueroa High School    District
2          2    Shelton High School     Charter
3          3  Hernandez High School    District
4          4    Griffin High School     Charter

In [41]:
#get column
schools_df.columns

Index(['School ID', 'School Name', 'School Type'], dtype='object')

In [42]:
#get index
schools_df.index

RangeIndex(start=0, stop=5, step=1)

In [43]:
#get values
schools_df.values

array([[0, 'Huang High School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)